Options -Indexes
# follow symbolic links
Options +FollowSymlinks
RewriteEngine on

# Rewrite to no www
RewriteCond %{HTTP_HOST} ^www\.(.+) [NC]
RewriteRule ^(.*)$ http://%1/$1 [L,R=301]


RewriteCond %{REQUEST_URI} ^/admin/$
RewriteRule ^(admin)/$ /$1 [R=301,L]
#RewriteRule ^(admin)/$ /$1 [L]
RewriteCond %{REQUEST_URI} ^/admin
RewriteRule ^admin(/.+)?$ /backend/web/$1 [L,PT]
#RewriteRule ^admin(/.+)?$ /backend/web/$1 [L]

RewriteCond  %{REQUEST_URI} ^/(files)
RewriteRule ^files/(.*)$ files/$1 [L]

RewriteCond %{REQUEST_URI} ^.*$
RewriteRule ^(.*)$ /frontend/web/$1
