.fixed-topbar {
  .topbar {
    height: 120px;
    left: 300px;
    .header-left {
      .topnav {
        .menutoggle {
          position: absolute;
        }
      }
    }
    .header-center {
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 1040px;
      margin: auto;
      position: relative;
      padding: 10px 50px;

      div {
        font-size: 20px;
        &.left {
          color: @orange;
          font-weight: bold;
          font-family: Courier New;
          font-size: 26px;
          text-transform: uppercase;
          line-height: 1.2;
        }
        &.company {
          max-width: 350px;
        }
        &.right {
          line-height: 2;
        }
        &.email {
          background: url('../images/icons/email.png') no-repeat;
          background-position-y: 12px;
          padding-left: 40px;
          margin: 0 10px;
        }
        &.phone {
          background: url('../images/icons/phone.png') no-repeat;
          background-position-y: 5px;
          padding-left: 40px;
          font-weight: bold;
        }
      }

    }
  }
}
@media screen and (max-width: 1140px) {
  .fixed-topbar {
    .topbar {
      .header-center {
        div {
          &.company {
            font-size: 15px;
            max-width: 200px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 685px) {
  .fixed-topbar {
    .topbar {
      .header-center {
        div {
          &.company {
            display: none;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 490px) {
  .fixed-topbar {
    .topbar {
      height: 170px;
      .header-center {
        padding-right: 10px;
        div {
          &.left {
            margin: auto;
            font-size: 23px;
            text-align: center;
          }
          &.right {
            margin: auto;
          }
        }
      }
    }
  }
  .sidebar {
    top: 170px;
    .logopanel {
      height: 170px;
    }
  }
}