/* NAV MENU */
.navbar-fixed-side-left {
  left: 0;
}
.navbar-fixed-side-right {
  right: 0;
}
@media (max-width: 768px) {
  .navbar-fixed-side {
    position: fixed !important;
    float: none;
  }
}
.select2-container--krajee .select2-results > .select2-results__options {
  max-height: 400px;
}
.grid-view > table > tbody > tr td:nth-child(2) > a {
  text-decoration: underline;
}
.grid-view > table > tbody > tr td:nth-child(2) > a:hover {
  text-decoration: none;
}
.navbar-fixed-side {
  float: left;
  border-width: 0;
  z-index: 1030;
  min-height: 5px;
  min-width: 5px;
  max-width: 250px;
  margin-bottom: 0;
  border: 1px solid #C0C0C0;
  border-top: 0;
}
.navbar-fixed-side .navbar-toggle {
  float: none;
  margin: 0;
}
.navbar-fixed-side .nav > li > a {
  width: 100%;
  padding: 5px;
}
.navbar-fixed-side .dropdown-menu > li > a {
  padding: 5px;
}
.navbar-fixed-side .dropdown-header {
  padding: 5px;
}
.navbar-fixed-side .nav-pills {
  margin: 0;
}
.navbar-fixed-side .nav-pills > li {
  float: none;
  margin-top: 5px;
  margin-bottom: 5px;
}
.navbar-fixed-side .nav-pills > li > a {
  padding: 5px;
  line-height: 20px;
}
.navbar-fixed-side .nav-pills .open .dropdown-menu > li > a,
.navbar-fixed-side .nav-pills .open .dropdown-menu .dropdown-header {
  padding: 3px 5px 3px 15px;
}
.navbar-fixed-side .container {
  width: 100%;
  padding: 0;
}
.navbar-fixed-side .navbar-header {
  float: none;
  margin: 0;
}
.navbar-fixed-side .navbar-collapse {
  padding: 0 2px;
}
.navbar-fixed-side .container .navbar-collapse,
.navbar-fixed-side .container .navbar-brand {
  margin: 0;
}
.navbar-fixed-side .navbar-brand {
  float: none;
  height: 100%;
  padding: 5px 3px;
  font-size: 18px;
  line-height: 20px;
}
#statusMsg div {
  padding: 10px;
  font-weight: bold;
  text-align: center;
}
#statusMsg .flash-success {
  border: 1px solid #00CC00;
  color: #008800;
}
#statusMsg .flash-error {
  border: 1px solid #CC0000;
  color: #880000;
}
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  opacity: 0.9;
  background: #2b2e33 ;
}
#loader-wrapper.loaded {
  -moz-opacity: 0;
  -webkit-opacity: 0;
  filter: alpha(opacity=0);
  opacity: 0;
  visibility: hidden;
  zoom: 1;
}
#loader-wrapper .loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #95effe;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 1001;
}
#loader-wrapper .loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #bcb2e1;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader-wrapper .loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ec67bd;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
.topnav .breadcrumb {
  background-color: inherit;
}
.topnav .breadcrumb li {
  position: relative;
}
.topnav .breadcrumb li:before {
  display: block;
  position: absolute;
  left: -13px;
  width: 10px;
  margin: 13px 5px;
}
.topnav .breadcrumb li a {
  color: #319DB5 !important;
  display: block;
}
.topnav .breadcrumb li span {
  display: block;
  color: #666666;
  font-size: 14px;
  height: 100%;
  padding: 13px 19px 13px;
  border-radius: 0;
}
option.warning {
  background-color: #fcf8e3;
}
option.danger {
  background-color: #f2dede;
}
.discounts-form .input-daterange,
.coupons-form .input-daterange {
  width: 500px;
}
.discounts-form .input-daterange > div,
.coupons-form .input-daterange > div {
  padding: 0;
}
.main-content .page-content {
  margin-top: 0 !important;
  top: 50px;
}
.main-content .page-content #adm_csortlbl {
  border-bottom: 1px dotted #000;
  cursor: pointer;
}
.main-content .page-content #adm_csorttbl {
  display: none;
}
.hint {
  font-size: 12px;
  font-style: italic;
}
.meta #city,
.costs #city,
.meta #type,
.costs #type,
.meta #school,
.costs #school {
  padding: 5px 10px;
}
.meta h2,
.costs h2 {
  font-weight: 600;
  color: #319db5;
  font-size: 30px;
  background-color: #d1fdd5;
  padding: 10px;
}
.meta h3,
.costs h3 {
  color: #A00000;
  font-weight: 600;
}
.meta .list,
.costs .list {
  width: 100%;
  border: 1px solid #000000;
  border-collapse: collapse;
  background-color: #EEEEEE;
}
.meta .list input,
.costs .list input {
  background-color: #FFFFFF;
  border: 1px solid #CCCDCE;
}
.meta .list td,
.costs .list td,
.meta .list th,
.costs .list th {
  border: 1px solid #000000;
  padding: 5px;
}
.meta .list td.page,
.costs .list td.page,
.meta .list th.page,
.costs .list th.page {
  width: 450px;
  font-size: 16px;
  font-weight: 600;
}
.meta .list td.page > div,
.costs .list td.page > div,
.meta .list th.page > div,
.costs .list th.page > div {
  text-align: center;
}
.meta .list td.meta,
.costs .list td.meta,
.meta .list th.meta,
.costs .list th.meta {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.meta .list .name,
.costs .list .name {
  font-size: 16px;
  font-weight: 600;
  color: black;
  margin-bottom: 10px;
}
.meta .list .enabled,
.costs .list .enabled,
.meta .list .not-enabled,
.costs .list .not-enabled {
  font-style: italic;
  font-size: 12px;
  font-weight: 400;
}
.meta .list .enabled,
.costs .list .enabled {
  color: green;
}
.meta .list .not-enabled,
.costs .list .not-enabled {
  color: red;
}
.meta .list .empty,
.costs .list .empty {
  background-color: #FFC0C0;
}
.costs .list td,
.costs .list th {
  min-width: 150px;
  width: 150px;
}
.costs .list th {
  text-align: center;
}
.costs .list .course {
  width: 400px;
}
.costs .list td.course {
  font-size: 16px;
  font-weight: 600px;
  color: #1C1C1C;
  padding-left: 20px;
}
.costs .list td.active {
  text-align: center;
}
.costs .list td.active .enabled,
.costs .list td.active .not-enabled {
  font-style: normal;
  font-size: 14px;
}
.costs .list td.active .enabled {
  color: green;
}
.costs .list td.active .not-enabled {
  color: red;
}
.costs .list .school {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  background-color: #D0F2FF;
  color: #008B8B;
}
.costs .list .save {
  text-align: center;
}
.border-div {
  border: 2px solid #808080;
  padding: 20px;
  margin: 20px 0px;
  border-radius: 10px;
}
.border-div .title {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}
.common-form .field-common-students_count,
.common-form .field-common-students_count_plus,
.common-form .field-common-students_count_plus_min,
.common-form .field-common-students_count_plus_every {
  float: left;
}
.common-form .field-common-school_basis {
  width: 200px;
}
.offices-form .schedule {
  width: 50%;
}
hr.section-divider {
  border: 1px solid #C0C0C0;
}
.glyphicon.disabled {
  color: #BBB;
}
/*# sourceMappingURL=style.css.map */